.title-page {
  width: 614px;
  margin-left: 300px;
  margin-top: 250px;
}

.title-pricipal {
  color: black;
  font-size: 56px;
  font-weight: 100;
}

.title-color {
  color: #00BCD4;
  font-weight: bold;
}

.title-subtitles {
  margin-top: 30px;
  margin-left: 370px;
  color: black;
  font-style: italic;
}

.card-cta {
  width: 586px;
  height: 811px;
  background: linear-gradient(250deg, #00BCD4, #5192E1);
  border-radius: 30px;
  margin-top: -700px;
  margin-left: 1000px;
}

.card-cta h3 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}

.card-cta p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
}

.itens-card input {
  border-radius: 30px;
  width: 440px;
  height: 65px;
  border: none;
  margin-left: 73px;
  margin-top: 49px;
  text-align: center;
}

.itens-card input::placeholder {
  font-size: 20px;
  color: #00BCD4;
  font-weight: bold;
  padding-left: 30px;
  text-align: left;
}

.button-send {
  border-radius: 30px;
  background-color: #fff;
  border: none;
  width: 220px;
  height: 65px;
  font-size: 30px;
  font-weight: bold;
  color: #00BCD4;
  margin-top: 40px;
  margin-left: 183px;
}

.back-color {
  background: linear-gradient(90deg, #5192E1, #00BCD4);
  height: 340px;
  margin-top: 130px;
}

.title-text {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  padding-top: 86px;
}

/* Card 1 */
.video-one {
  margin-left: -110px;
}

.photo {
  position: absolute;
  bottom: -125px;
  left: 25%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  z-index: 0;
}

.photo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.namephoto {
  position: absolute;
  bottom: -170px;
  left: 25%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 0;
}

.namephoto h5 {
  margin: 0;
  font-size: 14px;
}

.namephoto p {
  margin: 0;
  font-size: 14px;
  color: #00BCD4;
}

/* Card 2 */
.video-two {
  margin-left: -10px;
}

.photo2 {
  position: absolute;
  bottom: -125px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  z-index: 0;
}

.photo2 img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.namephoto2 {
  position: absolute;
  bottom: -170px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 0;
}

.namephoto2 h5 {
  margin: 0;
  font-size: 14px;
}

.namephoto2 p {
  margin: 0;
  font-size: 14px;
  color: #00BCD4;
}

/* Card 3 */
.video-three {
  margin-left: 90px;
}

.photo3 {
  position: absolute;
  bottom: -125px;
  left: 83%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  z-index: 0;
}

.photo3 img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.namephoto3 {
  position: absolute;
  bottom: -170px;
  left: 83%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 0;
}

.namephoto3 h5 {
  margin: 0;
  font-size: 14px;
}

.namephoto3 p {
  margin: 0;
  font-size: 14px;
  color: #00BCD4;
}

.back-img {
  background-image: url('/images/desenvolvimento1500.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 851px;
  margin-top: 200px;
}

.back-img h1 {
  color: #fff;
  font-size: 80px;
  width: 888px;
  font-weight: 100;
  margin-left: 250px;
  padding-top: 200px;
}